*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(247, 175, 175,0.8);

}
.container{
    border:2px solid #fff;
    padding:30px 40px;
    width:35%;
    border-radius: 5px;
    min-width: 600px;
}
header{
    margin-top:3rem;
    margin-bottom:3rem;
    color:white;
}
.new-task{
    display:flex;
    padding:30px 40px;
    border-radius:5px;
    background-color: #fff;
}
.todo-input{
    font-size:20px;
    font-weight: 500px;
    flex:3;
    border-radius:5px;
    padding:12px;
}
.todo-input:focus{
    outline: none;
    border-color:rgba(253, 44, 96, 0.5)
}
.todo-button{
    flex:1;
    border-radius:5px;
    height:100%;
    font-weight: 500;
    border:none;
    font-size:1rem;
    padding:12px;
    cursor:pointer;
    margin-left: 12px;
    background-color: rgba(253, 44, 96, 0.5);
    color:white;
}
.tasks-container{
    margin-top:2rem;
    padding:30px 20px;
    border-radius:5px;
    width:100%;
    background-color: white;;

}

.error{
    border:2px solid red !important;
}
